<html>
    <head>
        <title> Welcome</title>
        <link rel="stylesheet" type="text/css" href="index.css">
    
    <body>
        <div class="loginbox">
            <img src="avatar.png" class="avatar" alt="" height="43" width="43">
            <h1>LOG IN</h1>
            <form  action="login" method="POST">
                <p>USERNAME</p>
                <input type="text" name="" placeholder="ENter your username">
                <p>PASSWORD</p>
                <input type="password" name="" placeholder="Enter password">
                <input type="submit" name="" value="login">
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
                
       
       </div>
    </body>
</head>   

</html>